<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>うづきちゃんの部屋</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>うづきちゃんの部屋</h1>
    <div style="margin-top: 10px;">
      {% if session.logged_in %}
        <a href="{{ url_for('logout') }}" class="button" style="font-size: 0.8rem;">ログアウト</a>
      {% else %}
        <a href="{{ url_for('login') }}" class="button" style="font-size: 0.8rem;">ログイン</a>
      {% endif %}
    </div>
  </header>
  {% block content %}{% endblock %}
</body>
</html>
